@use "src/styles/colors";
button {
  height: 24px;
  min-width: 80px;
  padding: 1px 11px;
  color: white;
  background-color: colors.$digitec-secondary;
  border-radius: 3px;
  border: 1px solid colors.$digitec-secondary;
  &:hover {
    background-color: colors.$digitec-primary;
    border-color: colors.$digitec-primary;
  }
}
