<div class="center">
  <img src="assets/example-product.png" alt="example picture of a notebook">
</div>
<div class="availability mt-32">
  <p class="bold">noch 14</p>
  <p>&nbsp;von 40 Stück</p>
</div>
<div class="remainingBar">
  <div class="salesProgress"></div>
</div>
<div class="product-detail">
  <p class="price font-big"><span class="bold font-big">1199.- </span> statt 1701.-</p>
  <strong class="font-big">Dell&nbsp;</strong>
  <span class="font-big">Latitude 7420 (14 ", Intel Core i7-1185G7, 16 GB, 512 GB)</span>
</div>
