@use "src/styles/colors";

.product-images {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.product-image {
  min-width: 100%;
}

.grid {
  grid-template-columns: 5fr 4fr;
  grid-column-gap: 40px;
}

.bold {
  font-size: 24px;
}

.detail {
  font-size: 24px;
}

.price {
  color: colors.$digitec-secondary;
}

.carousel-button {
  width: 10px;
  height: 10px;
  margin: 0 6px 0 0;
  padding: 0;
  border-radius: 50%;
  transition: all 0.25s ease-in-out 0s;
  border: 1px solid colors.$digitec-primary;
  cursor: pointer;
  background: none;
}

.active-carousel {
  background: colors.$digitec-primary;
}

.carousel {
 display: flex;
  justify-content: space-between;
}

.carousel-text {
  color: colors.$digitec-primary;
  cursor: pointer;
  &:hover {
    color: colors.$digitec-secondary;
  }
}

.rating {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.bottom-line {
  padding-bottom: 20px;
  margin-bottom: 20px;
}
