@use "decoration";
@use "colors";
@use "structure";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');

.digitec-logo {
  padding: 0 36px 0 24px;
  width: 150px;
}

* {
  font-family: Roboto, Arial, sans-serif;
  font-size: 13px;
}

h1 {
  font-size: 24px;
  color: black;
}

h2 {
  font-size: 18px;
  color: black;
  margin-bottom: 8px;
  font-weight: bold;
}

html {
  background-color: colors.$html-background;
}

.frame {
  background: colors.$background;
  vertical-align: center;
  min-height: calc(100vh - 32px);
  max-width: 924px;
  border-top: 8px solid colors.$digitec-primary;
  border-bottom: 8px solid colors.$digitec-primary;
  box-shadow: 0 6px 10px -5px colors.$grey-01, 8px 0 0 0 colors.$digitec-primary, -8px 0 0 0 colors.$digitec-primary;
}
