<div class="profile grid" xmlns="http://www.w3.org/1999/html">
  <div class="profile-picture material-symbols-outlined">face</div>
  <div>
    <a>fridolin.schubi</a>
    <div class="grey-font">vor 5 Monaten ° hat dieses Produkt gekauft</div>
  </div>
</div>
<rocket-product-rating [rating]="5"></rocket-product-rating>
<h2>Sehr gutes Gerät</h2>
<div class="review">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit molestiae nisi ratione sed sunt
  voluptatum! A
  aliquam doloremque dolorum eaque illum, laborum obcaecati possimus, quasi quia quod sequi, sit vero! Lorem ipsum dolor
  sit amet, consectetur adipisicing elit. Accusantium amet assumenda commodi culpa dolor et laboriosam laborum
  laudantium nemo nulla placeat provident quo ratione repellat tenetur, ut veniam veritatis voluptas?
</div>
<div class="grid intent">
  <div>+</div>
  <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, amet doloremque dolorum facilis fugiat, hic
    libero magni maiores molestiae neque non odit optio placeat quam quisquam reiciendis saepe voluptate. Temporibus?
  </div>
  <div>+</div>
  <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, amet doloremque dolorum facilis fugiat, hic
    libero magni maiores molestiae neque non odit optio placeat quam quisquam reiciendis saepe voluptate. Temporibus?
  </div>
  <div>+</div>
  <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, amet doloremque dolorum facilis fugiat, hic
    libero magni maiores molestiae neque non odit optio placeat quam quisquam reiciendis saepe voluptate. Temporibus?
  </div>
  <div>-</div>
  <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, amet doloremque dolorum facilis fugiat, hic
    libero magni maiores molestiae neque non odit optio placeat quam quisquam reiciendis saepe voluptate. Temporibus?
  </div>
  <div>-</div>
  <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, amet doloremque dolorum facilis fugiat, hic
    libero magni maiores molestiae neque non odit optio placeat quam quisquam reiciendis saepe voluptate. Temporibus?
  </div>
</div>
<div class="flex">
  <button><span class="material-symbols-outlined">reply</span>Kommentieren</button>
  <button [routerLink]="'/following'"><span class="material-symbols-outlined">reviews</span>Reviews des Users folgen</button>
</div>
