@use "src/styles/colors";
.grid {
  grid-template-columns: 3fr 3fr 4fr;
  grid-row-gap: 10px;
  align-items: center;
}

.row-border {
  grid-column: 1 / 4;
  border-bottom: 1px solid colors.$thin-line;
}

button {
  height: 26px;
  background-color: colors.$secondary-background;
  color: colors.$digitec-primary;
  cursor: pointer;
  border-radius: 3px;
  border: 0 transparent;
  &:hover {
    background-color: colors.$digitec-secondary;
    color: white;
  }
}
